.negrita {
    font-weight: bold;
    color: #00a650;
}

.sinnegrita {
    line-height: 1.3;
    font-weight: 400;
}

.CP {
    color: #3483fa;
    font-weight: bold;
}

.extra {
    color: darkgray;
    font-weight: normal;
}